B
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*.d
*.so
*~
*#
*.xml
*.root
*myTask*
*.jdl
*.pcm
*.png
*.hdf5
*.out
*.txt
*.pyc
*.ipynb
*checkpoint.py
.DS_Store
.ipynb_checkpoints  
./batchjobs/res_dir/
./pair_gale_shapley/vtune_results/
#*.sh
#*.pdf